@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

html,
body {
	overflow-x: hidden !important;
}

.navbar .navbar-nav .nav-item .nav-link {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 18px;
	margin: 0 5px;
}

.navbar .navbar-nav .nav-item .dropdown-menu a {
	font-family: "Roboto";
	font-weight: 500;
}

.navbar ul li a:hover {
	color: #4e73df !important;
}

.navbar .dropdown-menu a:hover {
	color: #4e73df !important;
	background-color: white;
}

/* Carousel */
.carousel-inner {
	width: 100%;
	max-height: 550px !important;
}

.carousel .carousel-inner .carousel-item img {
	object-fit: cover;
	width: 100%;
	height: 550px;
}

.carousel-item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.45);
	z-index: 1;
}

.carousel-caption {
	width: 600px;
	color: #fff;
	text-align: center;
	top: 50%;
	margin: auto;
	bottom: auto;
	transform: translateY(-50%);
	z-index: 2;
}

.carousel-caption h1 {
	font-size: 52px;
	margin-bottom: 30px;
	font-family: "Courgette", cursive;
	color: #fff;
	text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.9), -2px -2px 6px rgba(0, 0, 0, 0.7);
}

.carousel-caption p {
	font-size: 24px;
	font-family: "Roboto", sans-serif;
	color: #fff;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9), -1px -1px 4px rgba(0, 0, 0, 0.7);
}
/* End of Carousel */

/* Sambutan */
.sambutan h2 {
	text-align: center;
	font-family: "Courgette";
}

.sambutan p {
	font-family: "Roboto", cursive;
	font-size: 16px;
	line-height: 28px;
}

.sambutan hr {
	width: 50%;
	border: 1px solid rgb(207, 207, 207);
}

.sambutan img {
	border-radius: 50%;
}

@media only screen and (max-width: 575px) {
	.sambutan img {
		height: 150px;
	}
}
/* End of Sambutan */

/* Jurusan */
.bg-cover {
	background-image: url("/img/banner/cca3fa09b3548e40e61eb437390b8480.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.bg-cover img {
	opacity: 0.9;
	height: 100px;
	width: 100px;
}

.bg-cover h2 {
	font-family: "Courgette";
	color: white;
	text-shadow: 2px 2px 1px black;
}

.bg-cover hr {
	width: 50%;
	border: 1px solid white;
	opacity: 0.4;
}

.bg-cover h5 {
	padding-top: 15px;
	color: white;
	text-shadow: 2px 2px 1px black;
}
/* End of Jurusan */

/* Berita */
.card {
	margin: 0 auto;
	float: none;
	margin-bottom: 20px;
}

.last-news h2 {
	text-align: center;
	font-family: "Courgette";
}

.last-news hr {
	width: 50%;
	border: 1px solid rgb(235, 235, 235);
}
/* End of Berita */

/* Blog */
.blog h1 {
	font-family: "Playfair Display";
}

.blog img {
	width: 100%;
}

.blog .konten {
	font-family: "Roboto";
	font-size: 16px;
	line-height: 30px;
}
/* End of Blog */

/* Banner Area */
.jumbotron.banner_area {
	background-position: center bottom;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.banner_area h1 {
	font-family: "Courgette";
	top: 50%;
}
/* End of Banner Are */

/* Footer */
.footer {
	background-color: rgb(58, 58, 58);
	color: white;
	font-family: "Roboto";
	box-sizing: content-box;
}

.footer h5 {
	background-color: rgb(92, 92, 92);
	padding: 10px;
	border-left: 4px solid #4e73df;
}

.footer ul a {
	text-decoration: none;
	color: rgb(167, 166, 166);
}

.footer ul a:hover {
	color: #4e73df;
}

.footer p {
	color: rgb(167, 166, 166);
}
/* End of Footer */

/* Pagination */
.page-link {
	color: #4e73df;
}

.page-item.active .page-link {
	background-color: #4e73df;
	border-color: #4e73df;
}
/* End of Pagination */

.btn-info {
	color: #fff;
	background-color: #4e73df;
	border-color: #4e73df;
}

.btn-info:hover {
	color: #4e73df;
	background-color: white;
	border-color: #4e73df;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
	color: #4e73df;
}
